<?php

$finder = PhpCsFixer\Finder::create()
    ->exclude('src/CmsBundle/Resources/public/components')
    ->in(__DIR__ . '/src')
    ->name('*.php')
;

return PhpCsFixer\Config::create()
    ->setRiskyAllowed(true)
    ->setRules([
        '@Symfony' => true,
    ])
    ->setFinder($finder)
;
